/*!
 * Start Bootstrap - Full Slider (https://startbootstrap.com/template-overviews/full-slider)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-full-slider/blob/master/LICENSE)
 */

.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.center {
  margin-top:50px;   
}

.modal-header {
padding-bottom: 5px;
}

.modal-footer {
    padding: 0;
}
  
.modal-footer .btn-group button {
height:40px;
border-top-left-radius : 0;
border-top-right-radius : 0;
border: none;
border-right: 1px solid #ddd;
}

.modal-footer .btn-group:last-child > button {
border-right: 0;
}


* {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

*:before, *:after {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

.clearfix {
  clear:both;
}

.text-center {text-align:center;}


pre {
display: block;
padding: 9.5px;
margin: 0 0 10px;
font-size: 13px;
line-height: 1.42857143;
color: #333;
word-break: break-all;
word-wrap: break-word;
background-color: #F5F5F5;
border: 1px solid #CCC;
border-radius: 4px;
}

.header {
  padding:20px 0;
  position:relative;
  margin-bottom:10px;
  
}

.header:after {
  content:"";
  display:block;
  height:1px;
  background:#eee;
  position:absolute; 
  left:30%; right:30%;
}

.header h2 {
  font-size:3em;
  font-weight:300;
  margin-bottom:0.2em;
}

.header p {
  font-size:14px;
}

li{
	height:-50px;
}

#a-footer {
  margin: 20px 0;
}

.new-react-version {
  padding: 20px 20px;
  border: 1px solid #eee;
  border-radius: 20px;
  box-shadow: 0 2px 12px 0 rgba(0,0,0,0.1);
  
  text-align: center;
  font-size: 14px;
  line-height: 1.7;
}

.new-react-version .react-svg-logo {
  text-align: center;
  max-width: 60px;
  margin: 20px auto;
  margin-top: 0;
}







/* Rating Star Widgets Style */
.rating-stars ul {
  list-style-type:none;
  padding:0;
  
  -moz-user-select:none;
  -webkit-user-select:none;
}
.rating-stars ul > li.star {
  display:inline-block;
  background-color: white;
}

/* Idle State of the stars */
.rating-stars ul > li.star > i.fa {
  font-size:2.5em; /* Change the size of the stars */
  color:#ccc; /* Color on idle state */
}

/* Hover state of the stars */
.rating-stars ul > li.star.hover > i.fa {
  color:#FFCC36;

}

/* Selected state of the stars */
.rating-stars ul > li.star.selected > i.fa {
  color:#FF912C;
}


 
	.modal.right .modal-dialog {
    position: fixed;
    margin-top:100px;
	
		width: 380px;
		height: 100%;
		-webkit-transform: translate3d(0%, 0, 0);
		    -ms-transform: translate3d(0%, 0, 0);
		     -o-transform: translate3d(0%, 0, 0);
		        transform: translate3d(0%, 0, 0);
	}


	.modal.right .modal-content {
		height:83%;
		overflow-y: auto;
	}
	

	.modal.right .modal-body {
		padding: 15px 15px 80px;
	}

/*Left*/

	
    
/*Right*/
	.modal.right.fade .modal-dialog {
		right: -320px;
		-webkit-transition: opacity 1.0s linear, right 0.9s ease-out;
		   -moz-transition: opacity 1.0s linear, right 0.9s ease-out;
		     -o-transition: opacity 1.0s linear, right 0.9s ease-out;
		        transition: opacity 1.0s linear, right 0.9s ease-out;
	}
	
	.modal.right.fade.in .modal-dialog {
		right: 0;
	}

/* ----- MODAL STYLE ----- */
	.modal-content {
		border-radius: 0;
		border: none;
	}

	.modal-header {
  
		border-bottom-color: #EEEEEE;
		background-color: #FAFAFA;
	}
	.feedback {
  background-color : rgb(240, 71, 121);
  color: white;
  padding: 8px 17px;
  border-radius: 4px;
  border-color: #46b8da;

}

#mybutton {

  position: fixed;
  bottom: 200px;
  right:-27px;
  transform:rotate(7deg);
  -webkit-transform:rotate(90deg);
  
}
#button2{

  position: fixed;
  bottom: 420px;
  right:-27px;
  padding: 10px 20px;
  transform:rotate(7deg);
  -webkit-transform:rotate(90deg);
  background-color : rgb(240, 71, 121);
  color: white;
  
  border-radius: 4px;
  border-color: #46b8da;
}
